**/*.vcxproj

# Build results
**/Build
**/Out/

**.spv
#Built Automatically
/GearHead-Engine/Libs
/GearHead-Engine/Include

/Vendor/*

Out-gcc/**

/GearHead-Engine/Vendor/VulkanSDK/**



*/__pycache__
# Visual Studio 2015/2017 cache/options directory
.vs/
.vscode/

# All solutions files. They get built
/**.sln
*.vcxproj*

# build files
*.obj
*.lib
*.pdb

*.stamp
*.stamp.depend
*.recipe
*.tlog



*.cmake

*.vert*
*.frag*
**.comp*

**.lua

# log files are generated during execution
*.log
