**/*.vcxproj

# Build results
**/bin/
bin-int/
**/Build

#Built Automatically
/GearHead-Engine/Libs
/GearHead-Engine/Include

# Vendor Files will be automatically downloaded depending on need, except for the premake customization files. Those need to be there.
!/Vendor

/Vendor/*
!/Vendor/premake
/Vendor/premake/*
!/Vendor/premake/premake_customization




*/__pycache__
# Visual Studio 2015/2017 cache/options directory
.vs/
.vscode/

# All solutions files. They get built
*.sln
*.vcxproj*



# log files are generated during execution
*.log