**/*.vcxproj

# Build results
**/bin/
bin-int/
/B[b]uild

#Built Automatically
/GearHead-Engine/Libs

# Vendor Files will be automatically downloaded depending on need
/Vendor


*/__pycache__
# Visual Studio 2015/2017 cache/options directory
.vs/


# All solutions files. They get built
*.sln
*.vcxproj